.course{
    display:flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    padding: 20px;
    margin-right: 10px;
}

.course-name{
    color: yellowgreen;
    font-weight: 500;
}

.img{
    width: 135px;
    height: 140px;
    margin-right: 40px;
    margin-top: 20px;
}

.details{
    width: 70%;
    margin-left: 10px;
}
